/* Techweb custom CSS, based on Backlot CSS */

/* welcome widget background */
.hello-boxes,
.hello-grill-dark,
.hello-grill-light,
.hello-stripes,
.hello-wave,
#activitywelcome-content-module {background-color:#D0E7F6;}

.jive-widget-body {
    padding: 0 !important;
}

.jive-widgetsize-small .jive-widget-body ul.overview-sidemenu {
    padding: 0;
    z-index: 9999;
}

.jive-widget-body .jive-html-text-widget ul.overview-sidemenu li {
    list-style-type: none;
}

.j-box, .jive-widget {
    overflow: visible;
}

/* Fix for http://bugzilla.fas.fa.disney.com/show_bug.cgi?id=30822 */
.jive-widget-htmltextwidget {
    overflow: hidden;
}


/** flyout menu css **/

.jive-widget-body .wdas-sidebarmenu ul{
  margin: 0;
  padding: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
 
.jive-html-text-widget .wdas-sidebarmenu ul li{
  list-style-type: none !important;
  position: relative;
  /*border-right: 1px solid #8B8B8B;
  border-left: 1px solid #8B8B8B;*/
  border-bottom: 1px solid #eaeaea;
  -webkit-border-right: 1px solid #8B8B8B;
  -webkit-border-left: 1px solid #8B8B8B;
  -webkit-border-bottom: 1px solid #eaeaea;
}

.jive-html-text-widget .wdas-sidebarmenu ul li li{
  list-style-type: none;
  position: relative;
  width: 222px;
  border-right: 1px solid #8B8B8B;
  border-left: 1px solid #8B8B8B;
  border-bottom: 1px solid #eaeaea;
  -webkit-border-right: 1px solid #8B8B8B;
  -webkit-border-left: 1px solid #8B8B8B;
  -webkit-border-bottom: 1px solid #eaeaea;
}

.wdas-sidebarmenu li ul {
  z-index: 4;
}

.wdas-sidebarmenu li ul li {
  z-index: 3;
}

.wdas-sidebarmenu li li ul {
  z-index: 5;
}

.wdas-sidebarmenu li li ul li{
  z-index: 6;
}

.jive-html-text-widget .wdas-sidebarmenu a, .jive-html-text-widget .wdas-sidebarmenu li:first-child {
  /*border-top: 1px solid #8B8B8B;*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.jive-html-text-widget .wdas-sidebarmenu li li:first-child {
  border-top: 1px solid #8B8B8B;
}

.jive-html-text-widget .wdas-sidebarmenu li ul {
  box-shadow: 1px 1px 5px gray;
  -webkit-box-shadow: 1px 1px 5px gray;
}

.jive-html-text-widget .wdas-sidebarmenu a, .jive-html-text-widget .wdas-sidebarmenu li:last-child {
  /*border-bottom: 1px solid #8B8B8B;*/
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.jive-html-text-widget .wdas-sidebarmenu li li:last-child {
  border-bottom: 1px solid #8B8B8B;
}

.wdas-sidebarmenu li li:first-child {
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
}

/* Top level menu links style */
.wdas-sidebarmenu ul li a{
  /*color: #333333;*/
  display: block;
  overflow: auto; /*force hasLayout in IE7 */
  text-decoration: none;
  padding: 6px;
  color: #3778c7;
}

.wdas-sidebarmenu ul {
  background-color: #fff;
}

.wdas-sidebarmenu ul li:hover, .wdas-sidebarmenu ul li:hover > a {
  background-color: #F2F2F2; /* as pulled from .jive-info-box in jive.css */
  /*color: black;*/
}

/*Sub level menu items */
.wdas-sidebarmenu ul li ul{
  position: absolute;
  width: 170px; /*Sub Menu Items width */
  top: 0;
  visibility: hidden;
}

.wdas-sidebarmenu a.subfolderstyle{
  /*background: url(right.gif) no-repeat 97% 50%;*/
  background: url(../images/disclosure-arrow.gif) no-repeat 95% 50%;
}

 
/* Holly Hack for IE \*/
* html .wdas-sidebarmenu ul li { float: left; height: 1%; }
* html .wdas-sidebarmenu ul li a { height: 1%; }
/* End */

/** end flyout menu css **/


/* ----------------------- CORE BUG FIXES ----------------------- */
.j-act-panel article .j-sub-activity-items .j-act-reply { height: auto;  *height: 210px; }
/* fix borderless widgets IE7 */
.jive-widget-borderless .jive-widget-header,
.jive-widget-borderless .jive-widget-header h4 {display:none !important;}
.jive-widget-content-edit .jive-widget-borderless .jive-widget-header,
.jive-widget-content-edit .jive-widget-borderless .jive-widget-header h4 {display:block !important;}
.jive-sidebar-newestmembers h5 span {background:none;}

/* ----------------------- HOMEPAGE DISABLED ----------------------- */
body.welcome-disabled #custom-nav {display:none;}

/* ------------------------------- HEADER ------------------------------- */

/* -- Shrink content header gap -- */
body.j-body-place section#j-main, body.j-body-act section#j-main, body.j-body-inbox section#j-main {
    padding: 7px 0;
}

/* TOOL TIPZ */
.custom-tooltip {display:none; width:200px;}
.custom-tooltip .pad {display:block; padding:10px;}
.custom-tooltip p {margin-top:.5em;}


/* BUST OUT BROWSE */
body.j-body-yourconnections #jive-body .j-bigtab-nav,
body.j-body-yourwork #jive-body .j-bigtab-nav,
body.j-body-yourplaces #jive-body .j-bigtab-nav,
body.j-body-yourbookmarks #jive-body .j-bigtab-nav {display: none;}

/* CUSTOM NAV */
#custom-nav {position:absolute; bottom:3px; right:5px;}
#custom-nav .j-ui-elem.last {background-position:90% -861px;}
#custom-nav .j-ui-elem.active {background-position:right -911px;}
#custom-nav .j-ui-elem.last.active {background-position:90% -911px;}

/* copy core styles from j-globalNav */
    #custom-nav li {
        display: block;
        float: left;
        height: 38px;
        line-height: 23px; /* adjust the text one pixel up so it lines up inside the select / hover states */
        list-style-type: none;
        position: relative;
        zoom: 1;
        *display: inline; /* sup, IE7 */
    }
    
    #custom-nav li { background-position: right -861px; }
    #custom-nav li.active { background-position: right -911px;}
    
    #custom-nav a:hover,
    #custom-nav a:focus { background-position: right -961px; }
    
    #custom-nav li a {
        color:#fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 8px 15px 6px;
        text-shadow: 0 1px 0 #555;
        font-size: 14px;
        height: 24px;
        }





/* ----------------------- WM ----------------------- */
/* hide page headers */
body.j-body-act.welcome-disabled header.j-page-header,
body.j-body-inbox.welcome-disabled header.j-page-header {display:none;}

/* activity */
body.j-body-welcome .j-layout #jive-widget-container {margin-top:0;}

#activitycta-content-module {display:none;}
#activitycta p {margin-bottom:1.25em;}

#activitywelcome-content-module {
    display:none; padding:20px; 
/*
    background-image:url(${themePath}/images/bg-hello-wave.png); 
*/
    background-repeat:repeat-x; background-position:top left;
}
#activitywelcome-content-module h4 {font-weight:bold; margin-right:40px;}
#activitywelcome-hide {position:absolute; top:22px; right:20px;}
#activitywelcome-content-module p {margin-top:1.25em;}
#activitywelcome-content-module p .jive-icon-med {display:inline-block; zoom:1; *display:inline;/*IE7*/ vertical-align:middle; float:none;}





/* ----------------------- WIDGETS! ----------------------- */
.hello-boxes,
.hello-grill-dark,
.hello-grill-light,
.hello-stripes,
.hello-wave {padding:20px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.hello-boxes {background-image:url(${themePath}/images/bg-hello-boxes.png);}
.hello-grill-dark {background-image:url(${themePath}/images/bg-hello-grill-dark.png);}
.hello-grill-light {background-image:url(${themePath}/images/bg-hello-grill-light.png);}
.hello-stripes {background-image:url(${themePath}/images/bg-hello-stripes.png); background-repeat:repeat-x; background-position:top left;}
.hello-wave {background-image:url(${themePath}/images/bg-hello-wave.png);}


#get-started-cta {padding:20px 0; display:none;}
#get-started-cta ul li {display:inline-block; zoom:1; *display:inline;/*IE7*/ vertical-align:top; float:none; width:20%; background:url(${themePath}/images/bg-cta-sep-vert.png) no-repeat center left transparent; margin:0 !important; position:relative; text-align:center; font-weight:bold;}
#get-started-cta ul li a {display:block; padding-top:65px;}
#get-started-cta ul li:first-child {background-image:none;}
#get-started-cta .custom-icon-wrap {position:absolute; top:0; left:0; width:100%;}
.custom-icon-huge,
#get-started-cta .jive-icon-huge {display:inline-block; zoom:1; *display:inline;/*IE7*/ vertical-align:top; float:none; margin:0;}
.custom-icon-huge {width:48px; height:48px; background-image:url(${themePath}/images/custom-sprite.png);}
.custom-icon-activity {background-position: 0 -36px;}
.custom-icon-profile {background-position: -48px -36px;}
.custom-icon-idea {background-position: -96px -36px;}
.custom-icon-support {background-position: -144px -36px;}

.custom-link-list li {list-style:none !important; font-size:1.0885em; margin:0 0 .85em 0 !important;}

h1 span.font-color-meta {
display: none;
}

/* custom-css */

body {
 background-color: #f9f9f9;
}

@media screen {
#jive-wrapper {
    min-width: 930px;
}
}

#user-bar-wrapper {
        float: left;
}

#jive-userbar {
	vertical-align: middle;
    background: url("/images/jive-bg-sprites.png") repeat-x scroll 0 -900px #f9f9f9;
    position: static;
    border-bottom: 1px solid #e9e9e9;
    background-color: #f5f5f5;
}

#jive-userbar-user-avatar,
#j-satNav .j-avatar {
	display: none;
}


#jive-profile-avatar {
    display: none;
}

.jive-userbar-menu {
	margin-top: 3px;
	padding: 5px 5px 5px 15px;
	-moz-box-shadow: 3px 3px 10px #777;
	-webkit-box-shadow: 3px 3px 10px #777;
	box-shadow: 3px 3px 10px #777;
}

/* Login box ---------------------------------------------------------------- */
#jive-userbar-login {
    vertical-align: text-top;
}

.anonymous-user .jive-userbar-login-guest {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #aaa;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 15px;
}

.jive-userbar-login-guest .font-color-meta-light {
    color: #000;
}

.jive-userbar-login-loginlink{
    font-weight: bold;
    background-color: white;
    /*background: url("/images/jive-formbtn-bg.gif") repeat-x scroll 0 0 white;*/
    background: #666;
    border: 1px solid gray;
    padding: 0px 10px 2px 10px;
    -webkit-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.jive-userbar-login-loginlink a{
    font-size: 1.5em;
    font-weight: bold;
}

#jive-breadcrumb {
    color: black;
    display: inline;
/*   position: absolute;
    top: 90px;
    left:0px;*/
	background-color: transparent;
    white-space: nowrap;
    padding: 15px 20px;
	z-index: 10;

}
#jive-breadcrumb a {
    color : black;
}
#jive-breadcrumb a.jive-breadcrumb-last {
	font-size: 1.5em;
    font-weight: bold;
	color: black;
    padding-top: 10px;
}
.jive-body-intro {
    background-color: #dadada;
}

.jive-body-home #jive-body-intro h1 {
    /*line-height: 0em;*/
	/*display: none;*/
    margin-top: -8px;
        background: gray;
}
#jive-body-intro h1, #jive-body-intro h2 {
/* Section Header and Section Header icon */
    display: none;

}

#jive-body #jive-body-intro {
    /*font-weight: bold;*/
    /*background: url(/themes/techweb_v2/hatClouds2.jpg) no-repeat;*/
    /*height: 30px;*/
    z-index: 5;
}
.jive-body-intro-home {
    top: -10px;
    height: 11px;
}

#jive-body-intro h1 {
    position: absolute;
    padding: 0px 0px 5px 20px;
}

#jive-body-intro #jive-body-intro-content {
    float: left;
    padding-bottom: 0px;
    margin-top: -6px;
    /* height: 50px;*/
}
.jive-body-home #jive-body-intro h1 {
    display: none;
    margin-top: -8px;
    background: gray;
}
#jive-body-intro-main-hdr-stats {
    color: black;
}

#jive-body-intro-content a {
    color : black;
}

.jive-body-intro-profile {
    width: 300px;
}

/* Search box ---------------------------------------------------------------- */
#jive-spotlight-search {

}

#jive-userbar-search .jive-userbar-search-field {
        background: url(/techweb_scripts/images/glass_light.png) no-repeat;
        background-position: 2px 2px;
        background-color: white;
        padding-left: 23px;

}

#jive-userbar-search .jive-userbar-search-button {
    display: none; 
}

/* Tabs ----------------------------------------------------------------- */

#jive-body-tabbar-links {
    display: none;
}

/* General Widgets------------------------------------------------------*/
.jive-box-header, .jive-sidebar-header, .jive-widget-header {
    background: url("/images/jive-bg-sprites.png") repeat-x scroll 0 -1210px #F0F0F0;
}
.jive-widget-header {
    padding-left: 10px;
}
.jive-widget-body .jive-box-body {
    margin-top: 10px;
}
#jive-widget-content {
    padding: 0px 20px;
}

/* Disney Gadgets------------------------------------------------------*/

/*Bugzilla*/
#bug_container td, #bug_container th {
    padding: 5px 5px 5px 5px;
    border:1px solid #F2F2F2;
}

/*Rally*/
.techTable th, #bug_container th {
    background-color: #F6F7F8;
    color:#000000 !important;
}
.taskTable {
    margin-top: -7px !important;
}

.taskTable th, .taskTable td {
    padding: 5px 5px 5px 5px;
    border: 1px solid #F2F2F2 !important;
    vertical-align:top;
}

.taskTable th {
    background-color: #F6F7F8;
    background: url(/techweb_scripts/images/th_underBG.png) repeat-x;
}


.project_header {
    color: #4C4C4C !important;
    font-size: 1.44em;
    font-weight: bold;
}

.sprint_header {
             background-color: #D7E8F8 !important;
             font-weight: bold;
          }
/*All*/
div.wdas_table_container {
    padding-left:5px !important;
    margin-top: 5px;
}

.wdas_loading {
    margin-left: 10px;
    margin-top: 10px;
}
.wdas_gadgetInit {
    padding: 5px;

}
.wdas_emptyList {
    padding: 10px;
}

.wdas_openLink {
    margin-top: 105px;
    margin-bottom: 5px;
}
.wdas_table_container th {
    background: url(/techweb_scripts/images/th_underBG.png) repeat-x;
}


/* Body Elements ------------------------------------------------*/
#jive-body-maincol {
    /*blog body*/
    padding-top: 35px;
}

.taskTable th {
    background-color: #F6F7F8;
    border-color: red;
}
.sprint_header {
    background-color: #D7E8F8 !important;
}

.jive-user-status-update input {
	margin-top: 10px;
	margin-bottom: 5px;	
}
.jive-charcount-safe {
	margin-left: -15px;
	margin-top: 85px;
}
#jive-body-intro-main-hdr-stats {
    position: relative;
    top: 20px;
}
.disney-table-row-darker-odd {
    background-color: #EAEAEA;
}

.disney-table-row-darker-even {
    background-color: #F0F0F0;
}
.jive-table td.disney-table-cell-subject span a {
    font-weight: bold;
    color: #355491;
    font-size: 1.1em;
}
.disney-link-noicon  a.jive-link-community-small {
	position: relative;
	left: -10px;
	background-image: none;
}

dl dd {
	margin-left: 2em;
}
dl dt {
	font-weight: bold;
}
/* Tags------------------------------------------------------------*/

.jive-tag-selected {
    font-size: 1.5em;
}
.jive-tag-unselected {
    font-size: 1.5em;
}
.jive-content-footer-tags {
    font-size: 1.5em;
}

/* Footer-----------------------------------------------------------*/

#jive-footer {
	background: #eeeeee;
}

/* Documents-------------------------------------------------------*/
.jive-body-content-document .jive-content {
	background-color: white;
}
.jive-body-formpage-document #jive-post-bodybox {
	background: none repeat scroll 0 0;
	border: none;
}
#jive-doc-corner-img {
	display: none;
}
#jive-post-title {
	width: 100%;
}
a.rte_preferred {
    visibility: hidden;
}
.jive-rendered-content .toc {
    border: 1px solid #ededed !important;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}
.toc .jive-link-anchor-small {
    font-size: 15px;
}
/* override jive-global.css to address bug 20066 (view doc widget */
.jive-widget-formattedtext .jive-widget-body .jive-rendered-content .toc ul,
.toc ul { padding-left: 25px; }
.jive-widget-formattedtext .jive-widget-body .jive-rendered-content .toc li,
.toc li {
    list-style-image: url("../images/bullet-toc.gif");
    margin: 0; /* override when in view document */
}
#jive-compose-header .clearfix{
    position: relative;
    color: red !important;
    background-color: red;
    top: 100px;
}

.j-form input[type="radio"] + label {
  display: inline;
}

/* Blogs -------------------------------------------------------*/
#jive-compose-header h4 {
    padding-top: 50px;
}


/* Twiki Table Elements ---------------------------------------- */
/* taken from: http://twiki.fas.fa.disney.com/pub/TWiki/PatternSkin/style.css */
/* and http://twiki.fas.fa.disney.com/pub/TWiki/PatternSkin/colors.css */


.twikiTable, .twikiTable td, .twikiTable th {
    border-color: #E2E2E2;
    padding: 5px;
}


.twikiTable {
    border-collapse: collapse;
    border-style: solid;
    margin: 2px 0;
}

.twikiTable, .twikiTable td, .twikiTable th {
    border-width: 1px;
}

table {
}


/* TablePlugin */
.twikiTable th a:link,
.twikiTable th a:visited,
.twikiTable th a font {
   color:#fff;
}

/* For Sortable tables In Documents */
table a.sortheader {
   text-decoration: none;
}
table span.sortheadertxt {
   color: #FFF;
   text-decoration: underline;
}
table span.sortarrow {
   color: black;
   text-decoration: none;
}
/* Sortable tables */

/* This is need to have matching spacing for twiki imported docs - tvo 9/2/11 */
div.twikiPage p { margin: 1.12em 0; }
/* span.da_twiki_link a { color: red; } */

.TESTING_TECHWEB {
   font-weight: bold;
   color:red;
}
/* TESTING_TECHWEB */

/* Print Preview customizations */

.jive-body-print {
    margin: 1.5em;
    width: auto;
}
.jive-body-print,
.jive-body-print #jive-wrapper {
    background: none;
}

.jive-body-print .j-context,
.jive-body-print #jive-body-sidebarcol-container,
.jive-body-print .jive-attachments,
.jive-body-print .jive-content-footer,
.jive-body-print .j-doc-shadow,
.jive-body-print .jive-content-rating,
.jive-body-print #comments,
.jive-body-print #jive-footer {
    display: none;
}

.jive-body-print .j-column,
.jive-body-print .jive-content-body {
    margin: 0;
}

.jive-body-print .jive-content {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jive-body-print .j-version {
    float: right;
    font-size: 125%;
    margin-top: -2em;
}

.jive-body-formpage-login #j-header .fixed-width {
  height: 30px;
}

/* Update Styles so we have a default font that works on Linux */
/* Resolves bold in documents #29448 */

body {
  font-family: Arial, Lucida Grande, Helvetica, sans-serif;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
  padding: 10px 0 4px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.7778em; }
h3 { font-size: 1.5556em; }
h4 { font-size: 1.4444em; }
h5 { font-size: 1.2222em; }
h6 { font-size: 1.1111em; }
p { font-size: 1em; }
hr {
    background-color: #dcdcdc;
    border: none;
    height: 1px;
    width: 100%;
    }
select { margin-right: 7px; }
select option { padding-right: 6px; }
fieldset {
    border: none;
    margin-bottom: 15px;
    padding-top: 5px;
    }
fieldset legend {
    font-size: 1.3333em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    }

.jive-content {
  line-height: 1.0;
}

.jive-content-title { margin: 0 100px 5px 0; }
.jive-content header h1 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1.1em;
  margin: 0;
  padding: 0 0 5px;
    word-wrap: break-word;
}

header.jive-blog-post-subject-header h1 {
  font-size: 20px;
}
/* End Update Styles so we have a default font that works on Linux */
/* Resolves bold in documents #29448 */

/* Temporarily remove the 'Create by email' link in the Actions widget (Issue 29563) */
#jive-link-author-by-email {
  display:none
}

/* Bug 29442 - remove little icons in front of hyperlinks to Jive content
   Can't get at the same icons from inside the RTE, though,
   because it is inside its own iframe. (jberlin)
*/
a.jive-link-document-small, a.jive-link-wiki-small, a.jive-link-blog-small, a.jive-link-thread-small, a.jive-link-message-small, a.jive-link-poll-small, a.jive-link-email-small, a.jive-link-profile-small, a.jive-link-community-small, a.jive-link-socialgroup-small, a.jive-link-project-small { 
  background-image: none;
  padding-left: 0px;
}

/* US3029 - Update styles to suit a wider variety of tastes */

.jive-rendered-content {
  line-height: 1.3;
  font-size: 15px;
}

.jive-rendered-content p {
  margin-bottom: .5em;
}

.jive-rendered-content h1 {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: .5em;
}

.jive-rendered-content h2 {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: .5em;
}

.jive-rendered-content h3 {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: .5em;
}

.jive-rendered-content h4,
.jive-rendered-content h5,
.jive-rendered-content h6 {
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: .5em;
}

.jive-rendered-content pre,
.jive-rendered-content .dp-highlighter {
  margin: 10px 20px !important;
  padding: 10px;
  border: 1px solid #eee;
  border-left: 2px solid #ccc;
  background: url('/images/quote-background-1.gif');
}

.jive-rendered-content pre,
.jive-rendered-content .dp-highlighter ol li span {
  font-family: monospace !important;
  font-size: 13px !important;
}

.jive-rendered-content .dp-highlighter.no-numbers ol {
  list-style: none;
}

.jive-rendered-content .dp-highlighter ol li {
  border-left: none;
}

.jive-rendered-content .dp-highlighter ol,
.jive-rendered-content .dp-highlighter ol li,
.jive-rendered-content .dp-highlighter ol li.alt {
  background: transparent !important;
}

.wdas-jira-list {
  overflow-y: hidden;
  overflow-x: auto;
}

/* Hide the big "Powered by Jive" image on the activity page */
#j-pbj-act {
  display: none;
}

/* TECHWB-524: Hide Trending Content and People on all Activity Streams */
#j-discovery {display: none;}
#j-activity-page.j-stream {padding-right: 0px;}

/* TECHWB-528: font color in Spaces widget on BH6 Art Dept page are unreadable */ 
.j-box.j-enhanced .j-box-body, .jive-widget .jive-widget-body { background-color: #fff; }

/* TECHWB-539: bolder font for Shows, Workgroups, Products */
.j-globalNav li a span.nav-link { font-weight: bold }

#follow-arrow {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  margin-left: -96px;
  -moz-transition: opacity 1s, margin-left 1s;
  -o-transition: opacity 1s, margin-left 1s;
  -webkit-transition: opacity 1s, margin-left 1s;
  transition: opacity 1s, margin-left 1s;
}

#follow-arrow.visible {
  opacity: 1;
  margin-left: 0;
}

[data-source="watches"] {
  -moz-transition: background-color 1s, box-shadow 1s;
  -o-transition: background-color 1s, box-shadow 1s;
  -webkit-transition: background-color 1s, box-shadow 1s;
  transition: background-color 1s, box-shadow 1s;
}

[data-source="watches"].highlight {
  background-color: #ccdbee;
  box-shadow: 0 0 5px 5px #ccdbee;
}
